<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- General -->
    <category label="30009">
        <setting id="context.seren.quickResume" type="bool" label="30000" default="true"/>
        <setting id="context.seren.shuffle" type="bool" label="30001" default="true"/>
        <setting id="context.seren.playFromRandomPoint" type="bool" label="30002" default="true"/>
        <setting id="context.seren.rescrape" type="bool" label="30003" default="true"/>
        <setting id="context.seren.rescrape_ss" type="bool" label="30010" default="true"/>
        <setting id="context.seren.sourceSelect" type="bool" label="30004" default="true"/>
        <setting id="context.seren.findSimilar" type="bool" label="30005" default="true"/>
        <setting id="context.seren.browseShow" type="bool" label="30006" default="true"/>
        <setting id="context.seren.browseSeason" type="bool" label="30007" default="true"/>
        <setting id="context.seren.traktManager" type="bool" label="30008" default="true"/>        
    </category>
</settings>
